@use "../globals" as *;
@use "../utilities" as *;

.footer {
  padding: 10rem 0;
  background-color: #37383d;

  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__item {
    margin-right: 4rem;
  }

  &__link {
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none;
  }

  &__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__copyright {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
    .footer__link {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: $xs-max) {
  .footer {
    &__nav {
      flex-wrap: wrap;
    }

    &__link {
      margin-bottom: 1rem;
    }
  }
}
